/*
*{
    margin: 0;
    padding: 0;
}

.header{
    background: #1B3C53;
    color: white;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nombre{
    font-size: 30px;
}
.nav-link{
    color: white;
    text-decoration: none;
    margin: 5px;
}
.nav-link:hover{
    background-color:rgba(138, 193, 255, 0.192);
    border-radius: 50px;
    padding: 10px;
} */
.nav-link{
    display: flex;
    justify-content: space-between;
}